version: "3.9"

services:
  client-prod:
    build:
      context: ./client
      args:
        ENV_FILE: .env.prod
    container_name: client-prod
    expose:
      - "80"
    networks:
      - commerce-net

  client-test:
    build:
      context: ./client
      args:
        ENV_FILE: .env.test
    container_name: client-test
    expose:
      - "80"
    networks:
      - commerce-net

  dashboard-prod:
    build:
      context: ./dashboard
      args:
        ENV_FILE: .env.prod
    container_name: dashboard-prod
    expose:
      - "80"
    networks:
      - commerce-net

  dashboard-test:
    build:
      context: ./dashboard
      args:
        ENV_FILE: .env.test
    container_name: dashboard-test
    expose:
      - "80"
    networks:
      - commerce-net

networks:
  commerce-net:
    external: true
