services:
  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    container_name: client-app
    restart: always

  dashboard:
    build:
      context: .
      dockerfile: dashboard/Dockerfile
    container_name: dashboard-app
    restart: always
