services:
  client:
    build:
      context: ./client
    container_name: client-app
    ports:
      - "5173:80"   # accéder au client sur http://localhost:5173
    volumes:
      - client-dist:/usr/share/nginx/html

  dashboard:
    build:
      context: ./dashboard
    container_name: dashboard-app
    ports:
      - "5174:80"   # accéder au dashboard sur http://localhost:5174
    volumes:
      - dashboard-dist:/usr/share/nginx/html

volumes:
  client-dist:
  dashboard-dist:
