services:
  backend:
    image: apps-backend
    container_name: spring_backend
    ports:
      - "8080:8080"

  client:
    build: ./client
    container_name: client-app
    ports:
      - "5173:80"

  dashboard:
    build: ./dashboard
    container_name: dashboard-app
    ports:
      - "5174:80"
