version: "3.9"

services:
  # CLIENT PROD
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        ENV_FILE: .env.prod
    container_name: client-prod
    restart: always
    ports:
      - "8080:80"

  # CLIENT TEST
  client-test:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        ENV_FILE: .env.test
    container_name: client-test
    restart: always
    ports:
      - "8081:80"

  # DASHBOARD PROD
  dashboard:
    build:
      context: ./dashboard
      dockerfile: Dockerfile
      args:
        ENV_FILE: .env.prod
    container_name: dashboard-prod
    restart: always
    ports:
      - "8082:80"

  # DASHBOARD TEST
  dashboard-test:
    build:
      context: ./dashboard
      dockerfile: Dockerfile
      args:
        ENV_FILE: .env.test
    container_name: dashboard-test
    restart: always
    ports:
      - "8083:80"
