services:
  client:
    build:
      context: ./client
    container_name: client-app
    volumes:
      - client-dist:/usr/share/nginx/html/client

  dashboard:
    build:
      context: ./dashboard
    container_name: dashboard-app
    volumes:
      - dashboard-dist:/usr/share/nginx/html/dashboard

  nginx:
    image: nginx:1.25-alpine
    container_name: nginx-gateway
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - client-dist:/usr/share/nginx/html/client
      - dashboard-dist:/usr/share/nginx/html/dashboard
    depends_on:
      - client
      - dashboard

volumes:
  client-dist:
  dashboard-dist:
