services:
  client-prod:
    build:
      context: ./client
      args:
        ENV_FILE: .env.prod
    container_name: client-prod
    expose:
      - "5173"
    networks:
      - web

  client-test:
    build:
      context: ./client
      args:
        ENV_FILE: .env.test
    container_name: client-test
    expose:
      - "5174"
    networks:
      - web

  dashboard-prod:
    build:
      context: ./dashboard
      args:
        ENV_FILE: .env.prod
    container_name: dashboard-prod
    expose:
      - "5175"
    networks:
      - web

  dashboard-test:
    build:
      context: ./dashboard
      args:
        ENV_FILE: .env.test
    container_name: dashboard-test
    expose:
      - "5176"
    networks:
      - web

networks:
  web:
    external: true
