services:
  client-prod:
    build:
      context: ./client
      args:
        ENV_FILE: .env.prod
    container_name: client-prod
    ports:
      - "5173:5173"
    restart: always

  client-test:
    build:
      context: ./client
      args:
        ENV_FILE: .env.test
    container_name: client-test
    ports:
      - "5174:5173"
    restart: always

  dashboard-prod:
    build:
      context: ./dashboard
      args:
        ENV_FILE: .env.prod
    container_name: dashboard-prod
    ports:
      - "5175:5173"
    restart: always

  dashboard-test:
    build:
      context: ./dashboard
      args:
        ENV_FILE: .env.test
    container_name: dashboard-test
    ports:
      - "5176:5173"
    restart: always
