services:
  client:
    build: ./client
    container_name: client-app
    ports:
      - "5173:80"

  dashboard:
    build: ./dashboard
    container_name: dashboard-app
    ports:
      - "5174:80"
