services:
  client:
    build:
      context: client/Dockerfile
    container_name: client-app
    ports:
      - "5173:80"

  dashboard:
    build:
      context: dashboard/Dockerfile
    container_name: dashboard-app
    ports:
      - "5174:80"